.footer {
    background-color: lightblue;
    width: 100%;
    position: fixed;
    bottom: 0;
    flex: auto;


}

p {
    padding-bottom: 0.2em;
    padding-left: 8em;
    text-align: left;
    margin-top: 2em;
}